.footer {
  background-color: #003580;
  color: white;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.fLists {
  display: flex;
  justify-content: space-between;
}

.fList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fListItem {
  margin-bottom: 8px;
  cursor: pointer;
}

.fText {
  margin-top: 20px;
  text-align: center;
}
